*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 80%;
    margin: 10vh auto;
    border: 3px solid red;
    height: 70vh;
}
.block1{
    text-align: center;
    height: 10vh;
    background-color: green;
    color: aliceblue;
}
.block2{
    text-align: center;
    height: 10vh;
    background-color: black;
     color: aliceblue;
}
.block3{
    text-align: center;
    height: 10vh;
    background-color: blue;
     color: aliceblue;
}